@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "variables.css";
/*@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");*/
@import "reset.css"; /*To Do : reset css file add*/
/*https://meyerweb.com/eric/tools/css/reset/reset.css*/

/* -- Components --*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* -- Screen --*/
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";

body {
  background-color: white;
  color: #4b4e52;
  font-family: Roboto, sans-serif, "Boldonse", system-ui;
  height: 1000vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}